<!DOCTYPE HTML>
<html>

<head>
	<title>Aang | Sair</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div id="doc3" class="yui-t7">
		<div id="hd">
			<div id="header">
				<img src="../static/logo.png" alt="Logo Aang" width="170" height="170">
				<h1>Artmosfera: Encerrando Sistema</h1>
			</div>
			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<div class="yui-gc">
								<div class="content">
									<center>
										<h1>Encerrando o Sistema:</h1><br>
										<h2>
											Agradecemos o acesso! Qualquer dúvida entre em contato conosco. Para mais informações acesse novamente o sistema!
											<br><br>
											<button><h4><a href="{{ url_for('index')}}">---Voltar ao Sistema---</a></h4></button>
										</h2>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</body>

</html>