<!DOCTYPE HTML>
<html>

<head>
	<title>Aang | Sobre</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div id="doc3" class="yui-t7">
		<div id="hd">
			<div id="header">
				<center>
					<ul>
						<a href="{{ url_for('index')}}">Menu</a>
						<a href="{{ url_for('cadastrar')}}">Adicionar</a>
                		<a href="{{ url_for('excluir')}}">Excluir</a>
                		<a href="{{ url_for('alterar')}}">Alterar</a>
                		<a href="{{ url_for('classificacao')}}">Classificar</a>

					</ul>
				</center>
				<img src="../static/logo.png" alt="Logo Aang" width="170" height="170">
				<h1>Artmosfera: Sobre os Desenvolvedores</h1>
			</div>
			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<div class="yui-gc">
							<div class="yui-u first">
								<div class="content">
									<center>
										<h1> Conheça a Empresa Artmosfera</h1><br>
										<h3>
											Aang tem a missão de manter a qualidade do ar, analisando informações sobre
											poluentes e tendo um acompanhamento geral dos possíveis riscos à saúde,
											alertando nossos clientes como manter os cuidados necessários de acordo com
											o status atual da atmosfera.
										</h3>
										<img src="../static/sobre.png" width="670" height="130">
									</center>
								</div>
							</div>
							<div class="yui-u">
								<div class="content">
									<center>
										<h2>Nossa Logo</h2>

										Com a simbologia do ar e com nossa paleta de cores em tons de azul.
										<hr>
										<img src="imagens/logo.png" alt="Logo Aang" width="180" height="180">
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="doc3" class="yui-t7">
				<div id="bd">
					<div id="yui-main">
						<div class="yui-b">
							<div class="yui-gb">
								<div class="yui-u first">
									<div class="content">
										<center>
											<h2>Projeto Integrador I - Time 1</h2>
											<br>
											<h3> Esse projeto foi orientado pelo professor Marcelo Chacon, com o tema "Qualidade do ar e os efeitos causados à saúde". O sitema foi desenvolvido em HTML, CSS, Banco de Dados Oracle, SQL, Python e Flask, na instituição de ensino PUC-Campinas 2023.</h3><br>
										</center>
									</div>
								</div>
								<div class="yui-u">
									<div class="content">
										<center>
											<h2>Bruna Cardoso - 22017758</h2>
											<br>
											<h3> Aluna responsável pela documentação, organização do time, correção de erros e desenvolvimento front-end do sistema </h3><br>
										</center>
									</div>
								</div>
								<div class="yui-u first">
									<div class="content">
										<center>
											<h2>Lidiane Loureiro - 22899967</h2>
											<br>
											<h3> Aluna responsável pela correção de erros, desenvolvimento front-end e integração com o Flask. </h3><br>
										</center>
									</div>
								</div>
								<div class="yui-u first">
									<div class="content">
										<center>
											<h2>João Serra - </h2>
											<br>
											<h3> Aluno responsável pelos equipamentos utilizados, desenvolvimento back-end, construção do Banco de Dados e integração do sistema. </h3><br>
										</center>
									</div>
								</div><br><br>
								<div class="yui-u">
									<div class="content">
										<center>
											<h2>Nathan Oliveira - 22019196</h2>
											<br>
											<h3>
												Aluno responsável pelo desenvolvimento front-end, design e organização das telas do sistema.
											</h3><br>
										</center>
									</div>
								</div>
								<div class="yui-u first">
									<div class="content">
										<center>
											<h2>Pedro Araujo - 22900732</h2>
											<br>
											<h3> Aluno responsável pelo desenvolvimento back-end, construção do banco de dados e integração Flask. </h3><br>
										</center>
									</div>
								</div><br><br>
							</div>
						</div>
					</div>
					<div id="ft">
						<div id="footer">
							<footer>
								<div class="column">
									<h3>Menu de Amostras</h3>
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="Cadastrar.html">Adicionar</a></li>
										<li><a href="Alterar.html">Alterar</a></li>
										<li><a href="Excluir.html">Excluir</a></li>
										<li><a href="Classificacao.html">Classificar</a></li>
										<li><a href="Sobre.html">Sobre</a></li>
									</ul>
								</div>
								<div class="column">
									<h3>Entre em Contato</h3>
									<p>Email: timepi1@puccampinas.edu.br</p>
									<p>Telefone: (12) 93456-7890</p>
									<img src="imagens/logo.png" alt="LogoAang">
								</div>
							</footer>
						</div>
					</div>
				</div>
				<center>
					<p>&copy; 2023 Pontificia Universidade Catolica de Campinas. All rights reserved.</p>
				</center>
			</div>
		</div>
</body>

</html>